<form method="post" action="{% url 'process' %}">
    {% csrf_token %}
    <label for="inputBox"></label><br>
    <input list="options" id="inputBox" name="input1" placeholder="Source">
    <datalist id="options">
        {% for value in predefined_values %}
        <option value="{{value}}">
        {% endfor %}
    </datalist>

    <label for="inputBox"></label><br>
    <input list="options" id="inputBox" name="input2" placeholder="Destination">
    <datalist id="options">
        {% for value in predefined_values %}
        <option value="{{value}}">
        {% endfor %}
    </datalist>

    <input type="submit" value="Go!">
</form>